.form-card{

position: fixed;
top:7%;
left:20%;
height:auto;
width:50%;

}

.text-panel{
    width:100%;
}

.example-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 5px;
  }
  
  .example-margin {
    margin: 0 2px;
  }