<div style="color:blue; font-size: large; text-align: center;">
  Myanmar Text To Speech
</div>
<mat-card class="form-card">
  <mat-card-header align="center">
      <!-- <mat-card-title >Choose PDF or Image file to Read </mat-card-title> -->
     <!-- <mat-card-subtitle></mat-card-subtitle> -->
  </mat-card-header>
  <div class="col-sm-2">
      <button type="button" mat-raised-button (click)="fileInput.click()" style="background-color: rgb(207, 213, 231)">Choose File</button>
      <input hidden (change)="getBase64($event)" #fileInput type="file" id="file">
  </div>
  <form [formGroup]="ttsForm">
    <mat-card-content align="center">
      <!-- <mat-form-field class="text-panel" required>
        <input matInput placeholder="API Key" formControlName="apiKey" required> </mat-form-field> -->
      <mat-form-field class="text-panel" required>
        <textarea matInput placeholder="" formControlName="inputText" required rows="15" [(ngModel)]="resultText"></textarea> 
      </mat-form-field>
      <!-- <mat-form-field>
        <mat-select placeholder="Voice Name" formControlName="voiceName" required>
          <mat-option value="en-US-Wavenet-A"> en-US-Wavenet-A </mat-option>
          <mat-option value="en-US-Wavenet-B"> en-US-Wavenet-B </mat-option>
          <mat-option value="en-US-Wavenet-C"> en-US-Wavenet-C </mat-option>
          <mat-option value="en-US-Wavenet-D"> en-US-Wavenet-D </mat-option>
          <mat-option value="en-US-Wavenet-E"> en-US-Wavenet-E </mat-option>
          <mat-option value="en-US-Wavenet-F"> en-US-Wavenet-F </mat-option>
        </mat-select>
      </mat-form-field> 
      Speed
      <mat-slider min="0.25" max="4.00" step="0.04" value="1.00" formControlName="speed" [thumbLabel]="true" #speed>
      </mat-slider>
      {{speed.value | number:'1.2-2'}} &nbsp;&nbsp;&nbsp;Pitch
      <mat-slider min="-20.00" max="20.00" step="0.40"
        value="0.00" [thumbLabel]="true" formControlName="pitch" #pitch>
      </mat-slider>
      {{pitch.value | number:'1.2-2'}}  -->
      <section class="example-section" *ngIf="loading==true">
        <mat-progress-bar
            class="example-margin"
            [color]="color"
            [mode]="mode"
            [value]="value"
            [bufferValue]="bufferValue">
        </mat-progress-bar>
      </section>
      </mat-card-content> 
  </form>
  <!-- <mat-card-actions>
    <button mat-raised-button color="primary" [disabled]="!ttsForm.valid" (click)="onSubmit()">SPEAK IT</button>
  </mat-card-actions> -->
  <mat-card-actions>
    <button (click)="onSpeak()" style="margin-left: 10px; background-color: rgb(207, 213, 231)"> 
      <mat-icon>volume_up</mat-icon>
    </button>
    <button (click)="Clear()" style="margin-left: 10px; background-color: rgb(207, 213, 231)"> 
      <mat-icon>clear</mat-icon>
    </button>
  </mat-card-actions>

  <mat-card-footer>
    <audio controls *ngIf="fileurl!= '' && res != undefined" id="player" preload="none" autoplay>
      <source [src]="res"  type="audio/mpeg" id="audio-src"> 
    </audio>
  </mat-card-footer>
</mat-card>
